.container {
    background-color: #2e3c4e;
    color: #FFFFFF;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.author-text {
    color: #5058ac;
}

.container > p {
    font-size: 30px;
    font-weight: 500;
}